{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    

    </head>
    <body>
        <div class="container">
            <div class="row show-grid">
                <div class="col-md-2"><h4>Логин</span></div>
                <div class="col-md-2"><h4>Пароль</span></div>
                <div class="col-md-2"><h4>Email</h4></div>
                <div class="col-md-2"><h4>Суперпользователь</h4></div>
                <div class="col-md-1"></div>
                <div class="col-md-2"></div>
            </div>
            {{ userControlList.management_form }}
            {%for user in userControlList%}
            <form class="form-inline" role="form" action="" method="post">{% csrf_token %}
                <div class="row show-grid">
                        
                            <div class="col-md-2">
                                {{user.username}}
                            </div>
                            <div class="col-md-2">
                                {{user.password}}
                            </div>
                            <div class="col-md-2">
                                {{user.email}}
                            </div>
                            <div class="col-md-2">
                                {{user.is_superuser}}
                                
                            </div>
                            {{user.id}}
                        <div class="col-md-1">
                            <input id="ajaxsave" type="submit" class="ajaxsave btn btn-primary" name="saveButton" value="Сохранить">
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn btn-danger removeuser" name="delete" value="Удалить Пользователя">
                        </div>
                </div>
            </form>
            {%endfor%}  
        </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <script type="text/javascript"
        src="http://malsup.github.com/min/jquery.form.min.js">
    </script>

    <script type="text/javascript">
        $('.removeuser').click(function(){
            removeButton = this;
            $.post("",
            {
                csrfmiddlewaretoken:$(removeButton).closest($('[method=post]')).find($('[name=csrfmiddlewaretoken]')).val(),
                id:$(removeButton).closest($('[method=post]')).find('#userId').val(),
                remove:true
            })
            .success(function() { 
                $('.container').append('<div class="alert alert-success">Пользователь удалён</div>');
                console.log(removeButton);
                console.log($(removeButton).closest('[method=post]'));
                $(removeButton).closest('[method=post]').remove();
                setTimeout(function(){
                    $('.alert-success').remove();
                }, 4000);
                        //alert("Успешное выполнение"); 
            })
            .error(function() { 
                $('.container').append('<div class="alert alert-danger">Произошла ошибка при обработке данных.</div>')
                setTimeout(function(){
                    $('.alert-danger').remove();
                }, 4000);
            });
        })

        $('.ajaxsave').click(function(){
            pressedButton = this;
            username = $(this).closest($('[method=post]')).find('#inputLogin').val();
            var reg = new RegExp("^[A-Za-z]{1,}[0-9]{0,}[A-Za-z]{0,}$");
            if (reg.test(username)==false){
                $(pressedButton).closest('[method=post]').find('.col-md-2').eq(0).addClass("has-error");
                $('.container').append('<div class="alert alert-danger">Вы ввели неправильный логин</div>');
                
                setTimeout(function(){
                    console.log($(pressedButton).closest('[method=post]').find('.col-md-2').eq(0))
                    $(pressedButton).closest('[method=post]').find('.col-md-2').eq(0).removeClass("has-error");
                    $('.alert-danger').remove();
                }, 4000);
            }else{  
                email = $(pressedButton).closest($('[method=post]')).find('#inputEmail').val();
                console.log(email)
                var reg = new RegExp("^[a-z]{1,}[0-9]{0,}[a-z]{0,}@[a-z]{1,}\.[a-z]{2,}$");
                if (reg.test(email)==false){
                    $(pressedButton).closest('[method=post]').find('.col-md-2').eq(2).addClass("has-error");
                    $('.container').append('<div class="alert alert-danger">Неправильный формат email</div>');
                    setTimeout(function(){
                        $(pressedButton).closest('[method=post]').find('.col-md-2').eq(2).removeClass("has-error");
                        $('.alert-danger').remove();
                    }, 4000);
                }else{
                    var changeUser = $.post("",
                    {
                        csrfmiddlewaretoken:$(pressedButton).closest($('[method=post]')).find($('[name=csrfmiddlewaretoken]')).val(),
                        username:username,
                        password:$(pressedButton).closest($('[method=post]')).find('#inputPassword').val(),
                        email:email,
                        id:$(pressedButton).closest($('[method=post]')).find('#userId').val(),
                        is_superuser:$(pressedButton).closest($('[method=post]')).find('#checkboxSupeuser').is(':checked')
                    })
                    .success(function() { 
                        $('.container').append('<div class="alert alert-success">Данные пользователя успешно сохранены</div>');
                        setTimeout(function(){
                            $('.alert-success').remove();
                        }, 4000);
                        //alert("Успешное выполнение"); 
                    })
                    .error(function() { 
                        $('.container').append('<div class="alert alert-danger">Произошла ошибка при обработке данных. Пожалуйста, проверьте введённые данные.</div>')
                        setTimeout(function(){
                            $('.alert-danger').remove();
                        }, 4000);
                    });
                }
            }
            return false;
        });


    </script>

    </body>
</html>